---
import Slideshow from "../components/Slideshow.jsx";
---

<div class="timeline">
  <div class="container left">
    <div class="content">
      <h2>2021</h2>
      <p>
        The League of Innovators Club was founded to increase student
        entrenepreneurship in UCC. Partnering with its' parent organization, the
        League of Innovators, the club offered a set of intro to
        entreprenuership workshops alongside the Innovators Academy program.
        <Slideshow client:load />
      </p>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h2>2020</h2>
      <p>
        The League of Innovators Club was officially recognized by the Upper
        Canada College Student Council.
      </p>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <h2>2021</h2>
      <p>
        The League of Innovators Club was officially recognized by the Upper
        Canada College Student Council.
      </p>
    </div>
  </div>
  <p class="text-center whitespace-nowrap overflow-auto">
    <code class="py-1 px-2">npx create-blogster@latest --theme bubblegum</code>
  </p>
</div>
