---
import Slideshow from "../components/Slideshow.jsx";
---

<link rel="stylesheet" href="src/styles/intro.css" />
<div class="mb-6">
  <h1
    class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
  >
    <!-- Add an icon with link 
     'https://upload.wikimedia.org/wikipedia/en/thumb/7/7a/Upper_Canada_College_Crest.svg/1200px-Upper_Canada_College_Crest.svg.png' right next to the span below-->
    <div class="spanwithicon">
      <span
        class="bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_30%] from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue"
      >
        LOI@UCC Portfolio
      </span>
      <div class="container">
        <img
          src="https://i.imgur.com/Fqbh9bq.png"
          alt="UCC Logo"
          class="icon"
          height="100px"
          width="100px"
        />
        <img
          src="https://i.imgur.com/IZuIe6P.png"
          alt="LOI Logo"
          height="200px"
          width="200px"
        />
      </div>
    </div>
  </h1>
  <!-- <p class="text-2xl pb-4">Web Developer. OSS Wizard. Blogger.</p> -->
</div>
<div>
  <p class="mb-5 italic text-center">
    The League of Innovators Club at Upper Canada College is a student
    organization focusing on student businsess incubation within UCC and
    large-scale service-based NGO and business develeopment in Canada.
  </p>
  <h1 class="text-3xl font-bold text-center mb-4">About Us</h1>
  <h2 class="text-2xl font-bold mb-4">Timeline:</h2>
  <div class="timeline">
    <div class="container left">
      <div class="content">
        <h2>2021</h2>
        <p>
          The League of Innovators Club was founded to increase student
          entrenepreneurship in UCC. Partnering with its' parent organization,
          the League of Innovators, the club offered a set of intro to
          entreprenuership workshops alongside the Innovators Academy program.
          <Slideshow client:load />
        </p>
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <h2>2020</h2>
        <p>
          The League of Innovators Club was officially recognized by the Upper
          Canada College Student Council.
        </p>
      </div>
    </div>
    <div class="container left">
      <div class="content">
        <h2>2021</h2>
        <p>
          The League of Innovators Club was officially recognized by the Upper
          Canada College Student Council.
        </p>
      </div>
    </div>
    <p class="text-center whitespace-nowrap overflow-auto">
      <code class="py-1 px-2">npx create-blogster@latest --theme bubblegum</code
      >
    </p>
  </div>
</div>
